
body {
  background: #2F4550;
  color: #F4F4F9;
  font-family: 'Roboto', sans-serif;
}
.text-muted {
  color: #B8DBD9;
  font-weight: bold;
}

.btn-refresh {
  margin-top: 15px;
  color: #F4F4F9;
  background-color: #6B6570;
}

.tracker-icon:before {
    font-size: 80px;
    margin-left: 0;
}
.tracker-goal {
    font-size: 20px;
}
h1 {
    font-weight: bold;
}
.tile {
    background-color: #6B6570;
    border-radius: 28px;
    padding: 10px;
    margin: 10px;
    max-width: 325px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-height: 217px;
}
.hide-tile {
    display: none;
}
div[id^='tracker-money'] {
    cursor: pointer;
}

/* Chart */
.axis text {
    fill: #F4F4F9;
}
.axis path, .axis line
{
    fill: none;
    stroke: #F4F4F9;
    shape-rendering: crispEdges;
}